{% extends 'base.html' %}

{% block content %}
    <h1>Contact Us</h1>
    <p>We would love to hear from you. Reach out through any of the channels below.</p>

    <div class='devotional-card'>
        <h2>Join Our Community</h2>
        <p>Join our WhatsApp group to be part of our growing fellowship community.</p>
        <a href='https://chat.whatsapp.com/FZ2KwFvV5zxHOz0A7yYKGG?s=sh&p=i&ilr=2' target='_blank' style='color: #7C9A7E; font-weight: bold;'>Join WhatsApp Group</a>
    </div>

    <div class='devotional-card'>
        <h2>Follow Us</h2>
        <p>Stay connected and get updates on our latest devotionals and Bible study sessions.</p>
        <p>
            <a href='https://youtube.com/@getinspiredwithmel3499?si=frTCaRONEOuEm0j7' target='_blank' style='color: #7C9A7E; font-weight: bold;'>YouTube</a>
            &nbsp;&nbsp;|&nbsp;&nbsp;
            <a href='https://www.instagram.com/mel_tosam?igsh=NDc1eHZydnNlZ3Mw&utm_source=qr' target='_blank' style='color: #7C9A7E; font-weight: bold;'>Instagram</a>
        </p>
    </div>

    <div class='devotional-card'>
        <h2>Send Us a Message</h2>
        <p>Have a question or want to get in touch? Email us at:</p>
        <p><a href='mailto:fellowshipwiththeword@gmail.com' style='color: #7C9A7E; font-weight: bold;'>fellowshipwiththeword@gmail.com</a></p>
    </div>
{% endblock %}
